@using ICom.Web.Infrastructure.HtmlHelpers

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title | ICom</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home", new {area = ""}, null)</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home", new {area = ""}, null)</li>
                        @if(Html.IsAdmin()) {
                            <li>@Html.ActionLink("Administration", "Index", "Admin", new{area = "admin"}, null)</li>
                        }
                    </ul>
                </nav>
            </div>
        </header>
        <div id="body">
            @Html.RenderFlash()
            @RenderBody()
        </div>
        <footer>
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Assets/Scripts/libs/jquery.leanModal.min.js")
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $(document).ready(function () {
                $("a[rel*=leanModal]").leanModal();
            });
        </script>
    </body>
</html>
